body{
    text-align: center;
   
}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border : 2px solid black ;
    
}
#container {
    width: 600px;
    height: 300px;
    display: flex;
   
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* justify-content: center; */
    justify-content: center;
     /* flex-wrap:  wrap; */
     /* align-items: center; */
     /* align-content: center; */
     align-content: flex-start;
}
#box1{
    background-color: aqua;
    height: 50px;
    flex-shrink: 2;
}
#box2{
    background-color: rgb(49, 62, 62);
    height: 150px;
    align-self: flex-end;
}
#box3{
    background-color: aqua;
    flex-grow: 1;
}
#box4{
    background-color: rgb(97, 104, 104);
}

@media (min-width:600px) { 
    #box4{
    background-color: green;
 }
}
/* @media (min-width: 1024px) {
    body {
      background-color: lightgreen;
    }
  } */
  @media (max-width:600px) { 
    #box4{
    background-color: rgb(118, 118, 74);
 }
}