#div{
    height: 100px;
    width: 100px;
    background-size: cover;
    text-size-adjust: 10px ;
    text-align: center;
   border: 2px solid black;
}
#container {
    width: 800px;
    height: 200px;
}